:root{
    --primary-color: #FCA5A5;
    --light-color: #7F1D1D;
}
body{
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: cursive;
    margin: 0px;
}
h1{
    text-align: center;
}

.container{
    text-align: left;
    margin-top: 3rem;
}
label{
    font-weight: bold;
}

.p{
    text-indent: 0.5rem;
    font-weight: bold;
}

#submit-answer-button{
    background-color: var(--light-color);
    font-size: large;
    color: var(--primary-color);
    border-radius: 0.4rem;
    display:block;
    margin: auto;
    margin-top: 4rem;
}

#output{
    text-align: center;
    margin-top: 1rem;
    font-size: large;
}

.nav{
    background-color: var(--light-color);
    color: var(--primary-color);
    padding: 2rem;
    text-align: left;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

}

.link{
    text-decoration: none;
    color: var(--primary-color);
    margin-left: 1rem;
}

.link-active{
    color:white;
}

